.tag {
  font-size: 20rpx;
  line-height: 28rpx;
  padding-top: 2rpx;
  padding-right: 8rpx;
  padding-bottom: 2rpx;
  padding-left: 8rpx;
  border-top-left-radius: 6rpx;
  border-top-right-radius: 6rpx;
  border-bottom-left-radius: 6rpx;
  border-bottom-right-radius: 6rpx;
}

.tag--solid {
  color: #ffffff;
  background-color: #ff4d4f;
}

.tag--outline {
  color: #ff4d4f;
  background-color: #ffffff;
  border-top-width: 1rpx;
  border-right-width: 1rpx;
  border-bottom-width: 1rpx;
  border-left-width: 1rpx;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #ff9999;
  border-right-color: #ff9999;
  border-bottom-color: #ff9999;
  border-left-color: #ff9999;
}
