.tag {
  font-size: 20rpx;
  line-height: 28rpx;
  padding-top: 3rpx;
  padding-right: 14rpx;
  padding-bottom: 3rpx;
  padding-left: 14rpx;
  border-top-left-radius: 6rpx;
  border-top-right-radius: 6rpx;
  border-bottom-left-radius: 6rpx;
  border-bottom-right-radius: 6rpx;
}

.tag--solid {
  color: #ffffff;
  background-color: #ff4d4f;
}

.tag--outline {
  color: #ff9a5c;
  background-color: #fff7ef;
  // border-top-width: 1rpx;
  // border-right-width: 1rpx;
  // border-bottom-width: 1rpx;
  // border-left-width: 1rpx;
  // border-top-style: solid;
  // border-right-style: solid;
  // border-bottom-style: solid;
  // border-left-style: solid;
  // border-top-color: #ffc48f;
  // border-right-color: #ffc48f;
  // border-bottom-color: #ffc48f;
  // border-left-color: #ffc48f;
}
