.coupon-tag {
  display: inline-flex;
  font-size: 20rpx;
  line-height: 28rpx;
  padding-top: 2rpx;
  padding-right: 8rpx;
  padding-bottom: 2rpx;
  padding-left: 8rpx;
  border-top-left-radius: 6rpx;
  border-top-right-radius: 6rpx;
  border-bottom-left-radius: 6rpx;
  border-bottom-right-radius: 6rpx;
  margin-right: 8rpx;
}
