.red-packet {
  width: 64rpx;
  height: 64rpx;
  margin-left: -32rpx;
  margin-top: -32rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-packet__icon {
  font-size: 56rpx;
}
